.hot-product-area {
    padding-top: 50px;
}

.center_heading {
    padding-bottom: 30px;
    text-align: center;
}

.hot-product-title {
    text-transform: uppercase;
    font-weight: 600 !important;
    font-size: 34px;
    position: relative;
    line-height: 40px !important;
    color: var(--bs-color);
    letter-spacing: 1px;
}

.hot-product-para {
    font-size: 16px !important;
    line-height: 24px;
    color: #777c87;
    font-weight: 400 !important;
    padding-top: 10px;
}
